
<% for (course of courses){%>
    <div class="schedule">
        <div class="remove">
            <a href="/schedule/remove/<%= course._id %>">X</a>
        </div>
        <div class="subject">
            <%= course['subject'] %> 
        </div>
        <div class="coursenum">
            <%= course.coursenum %>
        </div>  
        <div class="coursename">
            <%= course.name %>
        </div>    
        <div class="courseterm">
            <%= course.term %>
        </div> 
    </div>     
    <% } %>
</ul>

<!--
    <pre>
        <%= JSON.stringify(courses,null,5) %>
    </pre>
-->
